<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль Пестича Андрея</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body{
        background-color: #CCCCFF;
        }
        .button{
        background-color: #CCCCFF;
        }

        .main-button{
        border-style: none;
        font-family: "Kyiv*Type Sans";
        color: #0d544f;
        }

        .main-button:hover{
        color: #000000;
        }

        .button:focus{
        outline: none;
        box-shadow: none;
        }
    </style>
</head>
<body>
  <section class="section is-large" style="display: flex; justify-content: space-around; height: 100%;">
          <button class="button is-large main-button" onclick="window.location.href = '#myself';" >Обо мне</button>
          <button class="button is-large main-button" >Чем я занимаюсь?</button>
          <button class="button is-large main-button" >Работы</button>
          <button class="button is-large main-button" >Доп. Информация</button>
  </section>
  <section class="section is-medium" style="display: flex; justify-content: space-between; height: 100%;">
      <a name="myself"></a>
      <img src="https://sun9-27.userapi.com/impg/oawRQymupHBEYnhgkd74dtbSCD89hYu4d3frSQ/iaDO4zjjbBk.jpg?size=1620x2160&quality=95&sign=315ac292727e5ea7384c785b606d074e&type=album"
      height="40%" width="40%" border="4px double black;" style="border-radius: 10px; border-color:#336699;">
      <div class="content">
          <p> Здраствуйте, меня зовут Пестич Андрей Дмитриевич. Я живу в Мурманске и обучаюсь в Мурманском Политехническом Лицее
              в 11 классе на техническом профиле. Увлекаюсь всем подряд, от спорта до литературы, от музыки до математики.
              Очень сильно люблю играть, играю в настольные игры, в интеллектуальные игры и конечно компьютерные! Страсть
              к играм — это стремление к самосовершенствованию, это желание побеждать, это воля соревноваться. И я принял
              проход на интенсив, как своего рода испытание, ведь отбор на него чателен и серьезен, но это не обозначает то,
              что я не понимаю того, сколько всего может дать мне интенсив. Это ведь база знаний, это занятие с лучшими
              преподавателями, это работы в портфолио и в конце концов это практический опыт, который сделает меня лучше,
              и который позволит в будущем мне работать! Я люблю программировать, это действие которое доставляет мне удовольствие,
              и если я вижу возможность улучшить свои навыки, я стремлюсь к этому!
          </p>
      </div>

  </section>

</body>
</html>